{% extends "./partials/base.html" %}

{% block title %}
Give A Minute - Search Results
{% endblock title %}

{% block continent %}

<div class='continent search-results'>
	<div class='headlands'>
		<form class="search-results-header" action="" method="GET">
			<label>Search results for:</label>
			<div class="form-tier">
				<input type="text" /> in <input type="text" />
				<input type="submit" value="Search" />
				<div class="actions">
					Don't see what you're looking for? <a href="">Start your own</a>
				</div>
			</div>
		</form>
	</div>

	<div class='midlands'>
			
			<div class="box results-projects tab-view">
				<div class="hd">
					<h2><span class="counter">23</span> Projects</h2>
					<span class="control"><a href="#">See all</a></span>
					<ul class="tabs">
						<li><a href="#">Map</li>
						<li class="current"><a href="#">List</li>
					</ul>
				</div>
				<div class="bd">
					<div class="panes">
						<div class="map-view"></div>
						<div class="list-view"></div>
					</div>
				</div>
				<div class="filters">
					<ul>
						<li class="filter-all"><a href="">All <span class="counter">154</span></a></li>
						<li class="filter-projects"><a href="">Projects <span class="counter">15</span></a></li>
						<li class="filter-ideas"><a href="">Ideas <span class="counter">34</span></a></li>
						<li class="filter-resources"><a href="">Resources <span class="counter">2</span></a></li>
					</ul>
				</div>
			</div>
			

	</div>

	<div class='foothills'>

	</div>
</div>

{% endblock continent %}