/*------------------------------------------------------------------------------
	Give a Minute


-------------------------------------------------------------------------------*/

html.universe{  }
head.heavens{ /* too bad we can't style the heavens */ }

body.earth{ background:none repeat scroll 0 0 #F3F2F0; text-align:left;
	font-family:DIN,Helvetica; font-size:13px;}

.west{ float:left; }
.east{ float:right; }

a { text-decoration:none; }

h1, h2, h3, h4, h5, h6 { font-weight:normal; }
h1{ font-size:25px; }
h2{ font-size:24px; }
h3{ font-size:14px; }

div.atmosphere{ width:100%; background-color:#231f20; }
div.atmosphere .stratosphere{ width:960px; margin:0 auto; }
div.atmosphere .stratosphere > ul > li{ float:left; }

div.continent{ width:960px; margin:0 auto; }
	div.headlands{ width:100%; position:relative; margin:0 0 20px; }
	div.midlands{ width:100%; }
	div.foothills{ width:100%; }

/* general controls */
span.control { text-transform:uppercase; font-style:italic; font-size:9px; }
span.control a { color:#878786; }

span.counter { color:#e06420; }

.form-pane { overflow:hidden; }
.form-pane .fields { float:left; }

/* tooltip */
.gam-tooltip { 
	background-color:#ffffff; 
	
	-moz-box-shadow:0 1px 24px #999999;
	-webkit-box-shadow:0 1px 24px #999999;
	box-shadow:0 1px 24px #999999;
}
.gam-tooltip .gam-tooltip-hd { background-color:#3d3a36; }
.gam-tooltip .gam-tooltip-hd h2 { color:#ccccca; }

/* project header */
.project-header { padding:16px 0; background-color:#edeceb; border-bottom:1px solid #e6e6e3; }

.project-header .thumb { float:left; width:132px; }
.project-header .thumb img.proj { margin:0 0 0 16px; }

.project-header .tools { float:right; width:170px; }

.project-header .main { overflow:hidden; }
.project-header .main h1 { font-family:MetaSerif,Georgia,serif; font-size:38px; }


.midlands > .east { width:600px; }
.midlands > .west { width:320px; }

.midlands .box > .hd { margin:0 0 12px; position:relative; overflow:hidden; background-color:#edeceb; border-bottom:1px solid #e6e6e3; }
.midlands .box > .hd h2 { float:left; text-transform:uppercase; color:#55504b; }
.midlands .box > .hd h2 .counter { font-size:14px; }

.midlands .box .actions { float:right; }

.midlands .box .bd .sub-hd { margin:0 0 8px; }
.midlands .box h3 { text-transform:uppercase; color:#a6a5a4; }

/* empty state */
.empty-state-box { background-color:#d1fdb9; border:1px solid #cae6b5; }
.empty-state-box.big {  }

/* goals */
.active-goals { background-color:#ffffff; }

.goal-card { background-color:#fff8dc; border:1px solid #fff3aa; }
.goal-card p { font-family:MetaSerif,Georgia,serif; font-size:25px; font-style:italic; }

.add-goal.form-pane { background-color:#ebebe8; }

/* conversation */
.comment-stack > li { margin:0 0 8px; padding:16px; background-color:#ffffff; border:1px solid #e8e6e3; }

/* seafloor */
div.seafloor{ width:960px; margin:20px auto 0; padding:20px 0 0; border-top:2px solid #ebeae8; }

div.seafloor > .west{ width:675px; }
div.seafloor > .east{ width:275px; }
div.seafloor .box { padding:0 0 25px; }

div.seafloor .sitemap { width:150px; float:left; }
div.seafloor .search { width:525px; float:right; }

/* Home */
div.continent.home {  }
div.continent.home .headlands { border-bottom:1px solid #ebeae8; }
div.home-splash { height:635px; background-color:#3d3936; }
div.home-facebook { padding:15px 0px; }

/* Register */
div.continent.register {  }
div.continent.register .merlin{  }
div.continent.register .merlin .step{ width:100%; }
div.continent.register .headlands{ border-bottom:1px solid #ebeae8; }
div.continent.register .midlands{ border-bottom:1px solid #ebeae8; }
div.continent.register .merlin .step{ padding:10px 0px 10px 0px; }
div.continent.register .foothills { padding-top:30px; }

/* Login */
div.continent.login {  }
div.continent.login .headlands{ border-bottom:1px solid #ebeae8; }
div.continent.login .midlands { width:; }
div.continent.login .midlands .west .email-login{ float:left;width:300px; }
div.continent.login .midlands .west .oauth-login{ float:right;width:; }
div.continent.login .midlands .east { width:374px; border-left:1px solid #ebeae8;
	padding:40px 0px;  }
div.continent.login .midlands .east p { margin-left:35px; }