/*------------------------------------------------------------------------------
	Reset
		Author: Andrew Mahon, Type/Code LLC

-------------------------------------------------------------------------------*/

/* clearfix from http://nclud.com/sketchbook/clearfix-is-out-were-moving-on/ */

.clear {
 display:inline-block;
}
.clear:after {
 display:block; 
 visibility:hidden; 
 clear:both; 
 height:0; 
 content: "."; 
}